/*Archivo less para CSS Zen Garden*/

@import url('https://fonts.googleapis.com/css?family=Gelasio|Girassol|Inria+Serif&display=swap');

/*Distancias*/
@espacioentrecajas:20px;
@paddingbasico: @espacioentrecajas+10px;
@radiobordes:15px;

/*Colores*/
@rojobasicofondos:224;
@verdebasicofondos:232;
@azulbasicofondos:254;

@rojobasicotextos:20;
@verdebasicotextos:13;
@azulbasicotextos:94;


@colorfondooscuro:rgb(@rojobasicofondos, @verdebasicofondos, @azulbasicofondos);

@colortextoclaro:rgb(@rojobasicotextos, @verdebasicotextos, @azulbasicotextos);

@incrementocolor:50;

@colorfondomasoscuro: rgb(
        @rojobasicofondos  - @incrementocolor, 
        @verdebasicofondos - @incrementocolor, 
        @azulbasicofondos  - @incrementocolor
    );
@colortextomasclaro: rgb(
        @rojobasicotextos  + @incrementocolor, 
        @verdebasicotextos + @incrementocolor, 
        @azulbasicotextos  + @incrementocolor
    );

.coloresintensos{
    background-color: @colorfondooscuro;
    color: @colortextoclaro;
}

.coloresinvertidos{
    background-color: @colortextomasclaro;
    color: @colorfondooscuro;        
}
.coloresmuchocontraste{
    background-color: @colorfondomasoscuro;
    color: @colortextomasclaro;
}
body{
    background-color: #e0e8fe;
    font-family: 'Inria Serif', cursive;    
    .coloresintensos()
}

abbr{
    font-style: italic;
}
h1, h2, h3, h4, h5, h6{
    text-align: center;
    font-family: 'Gelasio', serif;
}

div, header, aside, footer{
    border-radius: @radiobordes;
}
.espaciadocajas{
    margin: @espacioentrecajas;
    padding: @paddingbasico;
}
div, aside, #zen-intro{
    .espaciadocajas();
}

#zen-intro>header, #zen-intro>div{
    .coloresinvertidos();
    .espaciadocajas();
}

#zen-supporting{
    display:grid;
    grid-template-rows: auto 1fr 1fr auto auto auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;

    footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}


a:link{
    background-color: @colortextomasclaro;
    color: @colorfondooscuro;        
}

#zen-explanation, #zen-participation, #zen-benefits, #zen-requirements{
    .coloresmuchocontraste();
}

#zen-explanation{
    grid-row: escape("2/3");
    grid-column: escape("1/5");
}

#zen-participation{
    grid-row: escape("3/4");
    grid-column: escape("1/6");
}

#zen-benefits{
    grid-row: escape("1/2");
    grid-column: escape("1/10");
}

#zen-requirements{
    grid-row: escape("2/4");
    grid-column: escape("6/10");
}

#zen-supporting>footer{
    grid-row: escape("2/3");
    grid-column: escape("5/6");
    padding:auto;
    
    a{
        display: block;       
        .espaciadocajas();
        text-align: center;
        border-radius:@radiobordes;

    }
}

aside.sidebar>.wrapper{
    .coloresinvertidos();

    display:grid;
    grid-template-rows:     1fr 1fr 1fr;
    grid-template-columns:  1fr 1fr 1fr;
    font-family: Girassol, sans-serif;    

    li{
        list-style-type: none;        
        display: table-row-group;
    }
    a{
        background-color: @colortextomasclaro;
        color: @colorfondooscuro;        
    }
    h3{
        text-align: left;
        display: block;
    }
}
#design-selection{
    grid-row:     escape("1/4");
    grid-column:  escape("1/2");
}
#design-archives{
    grid-row:     escape("1/4");
    grid-column:  escape("2/3");
}
#zen-resources{
    grid-row:     escape("1/4");
    grid-column:  escape("3/4");
}
