/*Archivo less para CSS Zen Garden*/
@font-face {
  font-family: 'Gelasio';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Gelasio Regular'), local('Gelasio-Regular'), url(https://fonts.gstatic.com/s/gelasio/v1/cIf9MaFfvUQxTTqS9C6hZA.ttf) format('truetype');
}
@font-face {
  font-family: 'Girassol';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Girassol Regular'), local('Girassol-Regular'), url(https://fonts.gstatic.com/s/girassol/v1/JTUUjIo_-DK48laaNB9KxW4.ttf) format('truetype');
}
@font-face {
  font-family: 'Inria Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Inria Serif Regular'), local('InriaSerif-Regular'), url(https://fonts.gstatic.com/s/inriaserif/v1/fC1lPYxPY3rXxEndZJAzN3Srdyg.ttf) format('truetype');
}
/*Distancias*/
/*Colores*/
.coloresintensos {
  background-color: #e0e8fe;
  color: #140d5e;
}
.coloresinvertidos {
  background-color: #463f90;
  color: #e0e8fe;
}
.coloresmuchocontraste {
  background-color: #aeb6cc;
  color: #463f90;
}
body {
  font-family: 'Inria Serif', cursive;
  background-color: #e0e8fe;
  color: #140d5e;
}
abbr {
  font-style: italic;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-family: 'Gelasio', serif;
}
div,
header,
aside,
footer {
  border-radius: 15px;
}
.espaciadocajas {
  margin: 20px;
  padding: 30px;
}
div,
aside,
#zen-intro {
  margin: 20px;
  padding: 30px;
}
#zen-intro > header,
#zen-intro > div {
  background-color: #463f90;
  color: #e0e8fe;
  margin: 20px;
  padding: 30px;
}
#zen-supporting {
  display: grid;
  grid-template-rows: auto 1fr 1fr auto auto auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
}
#zen-supporting footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
a:link {
  background-color: #463f90;
  color: #e0e8fe;
}
#zen-explanation,
#zen-participation,
#zen-benefits,
#zen-requirements {
  background-color: #aeb6cc;
  color: #463f90;
}
#zen-explanation {
  grid-row: 2/3;
  grid-column: 1/5;
}
#zen-participation {
  grid-row: 3/4;
  grid-column: 1/6;
}
#zen-benefits {
  grid-row: 1/2;
  grid-column: 1/10;
}
#zen-requirements {
  grid-row: 2/4;
  grid-column: 6/10;
}
#zen-supporting > footer {
  grid-row: 2/3;
  grid-column: 5/6;
  padding: auto;
}
#zen-supporting > footer a {
  display: block;
  margin: 20px;
  padding: 30px;
  text-align: center;
  border-radius: 15px;
}
aside.sidebar > .wrapper {
  background-color: #463f90;
  color: #e0e8fe;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: Girassol, sans-serif;
}
aside.sidebar > .wrapper li {
  list-style-type: none;
  display: table-row-group;
}
aside.sidebar > .wrapper a {
  background-color: #463f90;
  color: #e0e8fe;
}
aside.sidebar > .wrapper h3 {
  text-align: left;
  display: block;
}
#design-selection {
  grid-row: 1/4;
  grid-column: 1/2;
}
#design-archives {
  grid-row: 1/4;
  grid-column: 2/3;
}
#zen-resources {
  grid-row: 1/4;
  grid-column: 3/4;
}
